asgiref==3.3.4
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
Django==3.2.2
django-htmx-alpine==0.1.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.14
gunicorn==20.1.0
idna==2.10
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.1.2
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.9.0
pytz==2021.1
requests==2.25.1
setuptools==57.0.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.5
wcwidth==0.2.5
wheel==0.36.2
