<div id="tasks">
  {% if tasks %}
    <ul class="mx-auto mt-4 w-max-35rem box"
        data-cy="task-list">
      {% for task in tasks %}
        <li id="task-item-{{ task.id|safe }}"
            data-cy="task-item-{{ task.id|safe }}"
            data-task-id="{{ task.id|safe }}"
            class="mx-auto is-flex is-justify-content-space-between
                   is-align-items-center task-item"
            x-init="todoListHasTasks = true">
          {% include 'tasks/get_task.html' %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
