body {
  margin: 1rem;
  color: white;
  background-color: black;
}

.text-center {
  text-align: center;
}

.cursor-url {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
}

.input-text-unstyled {
  border: 1px solid black;
  padding: 0;
}

.no-display {
  display: none;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
