html {
  overflow-y: auto; /* bulma compatibility */
}

body {
  background-color: #eee;
  min-height: 100vh;
}

[x-cloak] {
  display: none !important;
}

.dark-mode {
  color: white;
  background-color: black;
}


/* BULMA */
.navbar-brand {
  font-size: 1.5rem;
}


/* UI ELEMENTS */

/* login modal */
.login-captcha-img {
  height: 2.5em;
  width: 7em;
}

/* navbar */
.navbar-background-gradient-placeholder {
  height: 4rem;
  background: linear-gradient(to bottom, #ddd 75%, #eee);
}

.navbar-menu-main.is-hidden-touch {
  padding-top: 0;
}

.navbar-menu-main.is-hidden-desktop {
  position: absolute;
  width: 100vw;
  min-height: 3.5rem;
}

.navbar-title-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

/* status message notification */
.status-message-notification-container {
  display: flex;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100vw;

  justify-content: center;
}

.status-message-notification {
  max-width: 30rem;

  padding: 0.75rem 1rem;

  font-size: 1.3rem;
  color: white;
  text-align: center;

  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
  z-index: 100;
}


/* TYPOGRAPHY */
.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-strikethrough {
  text-decoration: line-through;
}


/* DISPLAY AND POSitioning */
.is-absolute {
  position: absolute;
}

.is-fullwidth {
  width: 100%;
}

.max-width-90vw {
  max-width: 90vw;
}

.w-max-content {
  width: max-content;
}

/* ELEMENT STYLING */
.d-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.transition-opacity-500 {
  transition: opacity 0.5s;
}

.transition-opacity-1000 {
  transition: opacity 1s;
}

::placeholder {
  opacity: 1;
}
