html {
  overflow-y: auto; /* bulma compatibility */
}

body {
  background-color: #eee;
  min-height: 100vh;
}

[x-cloak] {
  display: none !important;
}

.dark-mode {
  color: white;
  background-color: black;
}


/* BULMA */
.button.is-light {
  background-color: #ddd;
}

.button.is-light:hover {
  background-color: #d4d4d4;
}

.modal-content {
  max-height: 95vh;
  max-width: 90vw;
  max-width: max-content;
}

.navbar-brand {
  font-size: 1.5rem;
}


/* UI ELEMENTS */

/* TYPOGRAPHY */
.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-strikethrough {
  text-decoration: line-through;
}

.word-break-break-word {
  word-break: break-word;
}


/* DISPLAY AND POSITIONING */
.is-absolute {
  position: absolute;
}

.is-fullwidth {
  width: 100%;
}

.max-width-90vw {
  max-width: 90vw;
}

.w-max-content {
  width: max-content;
}

/* UTILITY */
.d-none {
  display: none;
}

.mw-20rem {
  max-width: 20rem;
}

.mw-25rem {
  max-width: 25rem;
}

.mw-30rem {
  max-width: 30rem;
}

.mw-35rem {
  max-width: 35rem;
}

.mw-40rem {
  max-width: 40rem;
}

.mw-40vw {
  max-width: 40vw;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.trans-opacity-500 {
  transition: opacity 0.5s;
}

.trans-opacity-1000 {
  transition: opacity 1s;
}

::placeholder {
  opacity: 1;
}
