<li id="task-item-{{ task.id }}"
    class="mx-auto is-flex is-justify-content-space-between
           is-align-items-center task-item"
    data-task-id="{{ task.id }}">

  <!-- task completion checkbox -->
  <div class="task-item-container-checkbox">
    <input type="checkbox" {{ task.is_complete|yesno:'checked,' }}
           class="w-5rem p-2 checkbox is-medium task-input-is-complete"
           autocomplete="off"
           id="task-input-is-complete-{{ task.id }}"
           hx-put="{% url 'tasks:task_update' task_id=task.id %}"
           hx-vals='{
             "is_complete": "{{ task.is_complete|yesno:"false,true" }}"}'
           hx-target="#task-item-{{ task.id }}"
           hx-swap="outerHTML"
           data-cy="task-input-is-complete-{{ task.id }}">
  </div>

  <!-- task description -->
  <div id="task-description-{{ task.id }}"
       class="w-max-35rem has-text-centered cursor-pointer trans-color-1000
              {% if task.is_complete %}
                text-strikethrough has-text-grey-light
              {% endif %}
              task-description"
       title="Task ID#: {{ task.id }}"
       hx-put="{% url 'tasks:task_update' task_id=task.id %}"
       hx-vals='{"is_complete": "{{ task.is_complete|yesno:'false,true' }}"}'
       hx-target="#task-item-{{ task.id }}"
       hx-swap="outerHTML"
       data-cy="task-description-{{ task.id }}">{{ task.description }}</div>

  <!-- task update div -->
  <div id="update-div-{{ task.id }}" class="is-hidden">
    <form id="task-update-form-{{ task.id }}"
          hx-put="{% url 'tasks:task_update' task_id=task.id %}"
          hx-vals="javascript:{'description': updateConfirm({{ task.id }})}"
          hx-target="#task-item-{{ task.id }}"
          hx-swap="outerHTML">
      <input type="text"
             id="task-update-description-{{ task.id }}"
             class="mr-0 input is-small is-inline button-group-left-side"
             value="{{ task.description }}">
      <input type="submit"
             class="ml-0 button is-info is-inline is-small
                    button-group-right-side"
             id="update-confirm-button-{{ task.id }}"
             title="Confirm"
             value="&check;"> <!-- confirm icon -->
    </form>
  </div>

  <!-- task edit/delete icons -->
  <div class="w-5rem is-size-4 is-flex is-justify-content-center">
    <a id="task-icon-edit-{{ task.id }}"
         tabindex="0"
         class="p-2 pt-3 cursor-pointer has-text-black"
         @click="updateDivToggle({{ task.id }})"
         @keydown.enter="updateDivToggle({{ task.id }})"
         title="Edit">
      &#9998; <!-- edit icon -->
    </a>
    <a id="task-icon-delete-{{ task.id }}"
       tabindex="0"
       class="ml-2 p-2 pt-3 has-text-black cursor-pointer"
       title="Delete"
       @click="taskDeleteModalEnable({{ task.id }})"
       data-cy-id="task-icon-delete-{{ task.id }}">
      &times; <!-- delete icon -->
    </a>

  </div>

</li>
