{% extends 'base.html' %}
{% load static %}

{% block title %}Your Todo Items{% endblock title %}

{% block content %}

<div class="pt-0 has-text-centered">

  <div class="is-size-4 has-text-centered">Your Todo List</div>

  <div class="mw-35rem mx-auto">

<script>

function createNewTask() {
  console.log('confirmUserIsAuthenticated() is running');
  // if user does not have an account, tell them to create one
}


function getTaskText() {
  // get the value of the text input, then clear it
  let textInput = document.querySelector("#new-task-input-text");
  let result = textInput.value;
  textInput.value = '';
  return result;
}

</script>

    <form id="form-new-task"
          class="mt-4">
      <input x-data="{}"
             @keyup.escape="
                // clear the text input if it is not empty
                if ($event.srcElement.value) {
                  $event.srcElement.value = '';
                  hDispatch('status-message-display', {
                    message: `List entry cleared`,
                    timeout: 2500
                  });
                }"
             type="text"
             id="new-task-input-text"
             class="input is-medium button-group-left-side"
             placeholder="Enter new task...">
      <button type="submit"
              class="button is-info is-medium button-group-right-side">
        Create
      </button>

    </form>

    <div id="tasks">
      {% include 'tasks/list_task.html' %}
    </div>

  </div>
</div>

<script>
  document.querySelector('#form-new-task').addEventListener('submit', (e) => {
    e.preventDefault();

    // do not continue if user is not authenticated
    if ({{ user.is_authenticated|yesno:'false,true' }}) {
      hDispatch('status-message-display', "You must create an account first.");
    }
    else {
      // get the value of the text input, then clear it
      let textInput = document.querySelector("#new-task-input-text");
      let description = textInput.value;
      textInput.value = '';

      // issue a POST request using HTMX
      htmx.ajax('POST', '{% url 'tasks:task_create' %}', {
        target: '#tasks',
        values: { description },
      });
    }
  })
</script>

{% endblock content %}

{% block style %}

#form-new-task {
  display: flex;
  justify-content: center;
}

#new-task-input-text {
  width: 30rem;
  max-width: 50vw;
}

.button-group-left-side {
  border-radius: 0.5rem 0 0 0.5rem;
}

.button-group-right-side {
  border-radius: 0 0.5rem 0.5rem 0;
}

.task-item-container-parent {
  display: flex;
  width: 100%;
  min-height: 2.5rem;

  justify-content: space-between;
  align-items: center;
}

.task-item-container-checkbox {
  width: 5rem;
}

.task-item-container-description {
  transition: color 0.5s;
}

.task-item-container-icons {
  display: flex;
  width: 5rem;
  justify-self: end;
  justify-content: center;
}

{% endblock style %}
