{% extends 'base.html' %}
{% load static %}

{% block title %}Your Todo List{% endblock %}
{% block body_title %}Your Todo List{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/tasks.js' %}"></script>

<script>
  var baseUrl = '{% url 'tasks:tasks_root' %}';
</script>

<section x-data="todoListComponent(baseUrl)">

  <form class="mt-4 mx-auto is-flex is-justify-content-center"
        method="post"
        :hx-post="taskUrlBuild(baseUrl, 'create')"
    {% if request.GET.csr %}
        hx-vals='{ "is_csr": "1" }'
        hx-target="body"
        hx-swap="beforeend"
    {% else %}
        hx-target="#tasks"
    {% endif %}
        @submit.prevent="taskCreate()"
        hx-trigger="task-create-form-submit from:body"
        @task-create-csr="(e) => taskCreateCsr(e)">
    <div class="field has-addons">
      <span class="control">
        <input type="text"
               name="description"
               data-cy="task-create-input-description"
               x-ref="taskCreateInputDescription"
               class="input is-inline"
               placeholder="Enter new task...">
      </span>
      <span class="control">
        <input type="submit"
               data-cy="task-create-button-confirm"
               class="button is-info"
               value="Create">
      </span>
    </div>
  </form>

  <!-- item delete modal -->
  <template x-if="taskDeleteModalIsActive">
    <div @keydown.escape.window="taskDeleteModalDisable"
         @keydown.tab.window="taskDeleteModalHandleTabEvent"
         x-init="$nextTick(() => {
           $refs.taskDeleteModalFirstTabbable.focus(); })"></div>
  </template>

  <div class="modal is-active"
       x-show="taskDeleteModalIsActive"
       x-transition.opacity.duration.500ms
       x-cloak>
    <div class="modal-background"></div>
    <div class="w-max-25rem modal-content">

      <div @click.away="taskDeleteModalDisable"
           class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                  is-justify-content-center is-align-items-center
                  has-text-centered">

        <div class="my-3 is-size-4">Delete Item</div>

        <div class="is-size-6 has-text-centered">
          Are you sure you want to delete this item?
        </div>

        <div class="mt-5 is-flex is-justify-content-space-between">
          <button x-ref="taskDeleteModalFirstTabbable"
                  class="button is-light is-medium"
                  @click="taskDeleteModalDisable">
            Cancel
          </button>
          <button data-cy="task-button-delete"
                  x-ref="taskDeleteModalLastTabbable"
                  class="ml-4 button is-danger is-medium"
                  hx-delete="{% url 'tasks:task_delete_no_id' %}"
                  hx-trigger="task-delete from:body"
                  :hx-vals='`{ "id": ${taskDeleteId},
                               "is_csr": ${isCsr} }`'
                  :hx-target="`${ isCsr ? 'body' : '#tasks'}`"
                  :hx-swap="`${ isCsr ? 'beforeend' : 'innerHTML'}`"
                  @click.prevent="taskDelete">
            Delete
          </button>
        </div>

      </div>
    </div>
  </div>

  {% if request.GET.csr %}
    {% include 'tasks/list_tasks_csr.html' %}
  {% else %}
    {% include 'tasks/list_tasks.html' %}
  {% endif %}

</section>

{% endblock content %}
