{% extends 'base.html' %} {% load static %}

{% block title %}Your Todo Items{% endblock title %}

{% block content %}

<div class="pt-0 has-text-centered">

  <div class="is-size-4 has-text-centered">Your Todo List</div>

  <div class="w-max-35rem mx-auto">

    <script>
      function taskCreateForm() {
        return {
          // methods
          userIsAuthenticated() {
            return {{ user.is_authenticated|yesno:'true,false' }};
          },
          taskCreate() {
            if (!this.userIsAuthenticated()) {
              // do not continue if user is not authenticated
              hDispatch(
                'status-message-display', "You must create an account first.");
              return false;
            }
            else {
              // get the value of the text input, then clear it
              let textInput = document.querySelector("#new-task-input-text");
              let description = textInput.value;
              textInput.value = '';

              // issue a POST request using HTMX
              htmx.ajax('POST', '{% url 'tasks:task_create' %}', {
                target: '#tasks',
                values: { description },
              });
            }
          }
        }
      }
    </script>

    <form x-data="taskCreateForm()"
          class="mt-4 is-flex is-justify-content-center"
          @submit.prevent="taskCreate">
      <input type="text"
             id="new-task-input-text"
             class="w-30rem w-max-50vw input is-medium btn-group-left-side"
             placeholder="Enter new task...">
      <button type="submit"
              class="button is-info is-medium btn-group-right-side">
        Create
      </button>

    </form>

    <div id="tasks"
         class="w-max-90vw">
      {% include 'tasks/list_task.html' %}
    </div>

  </div>
</div>

<script>
</script>

{% endblock content %}
