{% if request.method == 'GET' %}

  <img id="register-captcha-img"
       class="captcha-img"
       src="{{ server_config.SERVER_URL }}{{ captcha_img_url }}">
  <input type="hidden"
         name="captcha_0"
         id="register-captcha-key"
         value="{{ captcha_key }}">

{% elif register_fail %}

  <span id="register-form-response-text"
       class="has-text-danger"
       x-data="{ show: false }"
       x-show.transition.opacity.duration.500ms="show"
       x-init="() => {show = true }">

    {{ form_errors|safe }}

    <script>
      // get register captcha
      htmx.ajax('GET', '{% url 'users:login' %}', {
        target: '#register-captcha-img-container'
      });

      // re-enable the register submit button
      hDispatch('register-submit-button-enable');
    </script>

  </span>

{% elif register_success %}

  <span id="register-form-response-text"
       class="has-text-success"
       x-data="{ show: false }"
       x-show.transition.opacity.duration.500ms="show"
       x-init="() => { show = true; }">
    Success!

    <script>
      // reload shortly after successful registration
      setTimeout(() => { location.reload(); }, 1000)
    </script>

  </span>

{% endif %}
