{% extends 'base.html' %}

{% block title %}
  Delete Your Account
{% endblock %}


{% block body_title %}
  Delete Your Account
{% endblock %}

{% block content %}
  <p>Are you sure you want to delete your account? <strong>This action is permanent and cannot be reversed.</strong></p>

  <p>Keep in mind:</p>
    <ul>
      <li>All your JSON stores will be deleted.</li>
      <li>Your username will be available for registration on a first-come-first-serve basis.</li>
      <li>Any of your public store names will become available for use on a first-come-first-serve basis.</li>
      <li>If you have any code that relies on the data in these public stores, this may open them up to vulnerabilities if anyone places malicious data in one of your former public stores.</li>
  </ul>
  

  {% with confirm_text="Yes, I want to PERMANENTLY DELETE MY ACCOUNT. I confirm that I have read all of the above." confirm_style="danger" %}
    {% include 'base_form.html' %}
  {% endwith %}

{% endblock content %}
