{% extends 'base.html' %}

{% block title %}About this Project{% endblock title %}

{% block body_title %}About this Project{% endblock body_title %}

{% block content %}
<div class="p-0 section">
  <div @click.away="aboutModalIsActive = false"
       class="px-5 pt-2 pb-5 box">

    <p>This project uses a mixture of Django, Alpine.JS, and HTMX to serve as a minimalist alternative to Javascript-based frontend frameworks such as React, Vue, Angular and Svelte.</p>

    <div class="my-6 is-centered">
      <a href="{% url 'tasks:task_list' %}">
        <button class="button is-info">
          Take me to the demo!
        </button>
      </a>
    </div>

    <div class="mt-6 is-size-4 is-centered">Why Did I Make This Project?</div>
    <p>Most frontend frameworks require a lot of extra steps to play nicely with a backend web framework such as Django. Using Alpine.JS and HTMX allows you to spice up your frontend experience, while keeping the convenience and versatility of your server-side framework's capabilities. For example, this setup allows you to use Django's built-in session authentication system, which is more secure that the token-based systems that many services use, which can be vulnerable to XSS hacking attacks.</p>
    <p>With the whiz-bang frameworks (React, Vue, etc.), a lot of what makes the backend frameworks useful is stripped away, reducing them to mere API handlers and database ORMs. Using HTMX and Alpine.js puts the muscle back into your server-side framework.</p>

    <div class="mt-6 is-size-4 is-centered">Why Alpine.JS?</div>
    <p>Alpine.js is designed to act as a lighter version of Vue.JS. It allows you to easily the magical reactivity offered by Vue, but allows the functionality to be sprinkled into your code as desired. It works with the paradigm of a predominantly server-driven experience, not against it.</p>
    <p>Here is an example of how an Alpine.JS component can be easily added to a page:</p>

    <div class="w-max-30rem mx-auto n-box n-box-gray-light
                is-centered border-radius-0.5rem"
         x-data="{ counter: 0 }">
      <div>
        <button class="button is-success"
                @click="counter++">
          Click Me
        </button>
      </div>
      <div class="ml-2 pt-4">
        Button click count: 
        <span x-text="counter"></span>
      </div>
    </div>

    <p>Here is the basic structure for the example above:</p>
    <pre class="w-max-30rem mx-auto n-box n-box-gray-lighter">&lt;div x-data=&quot;{ counter: 0 }&quot;&gt;
  &lt;div&gt;
    &lt;button @click=&quot;counter++&quot;&gt;
      Click Me
    &lt;/button&gt;
  &lt;/div&gt;
  &lt;div&gt;
    Button click count:
    &lt;span x-text=&quot;counter&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

    <div class="mt-6 is-size-4 is-centered">Why HTMX?</div>
    <p>HTMX is a interesting library that adds client-server interactivity to plain HTML tags. It is a tool that makes it easy to add REST-style interactions to your page, but with one difference from other such tools: It works with entire DOM elements (HTML tags), not just JSON.</p>
    <p>This means you don't have to process the data on the client-side; you can simply return page fragments from your server. As with Alpine.JS, this gives the power back to the server-based frameworks. For example, your Django server can render all the elements with the proper data, and you simply receive the data and pop it right where it needs to go, with no Javascript-based messing around with Fetch calls.</p>

    <div class="w-max-30rem mx-auto px-5 n-box n-box-gray-light
                border-radius-0.5rem">
      <div class="is-size-5 is-centered">Get City Weather</div>

      <form hx-post="{% url 'get_weather' %}"
            hx-target="#about-htmx-response">

        <div class="mt-4 field">
          <label class="label"
                 for="city">
            City:
          </label>
          <div class="control">
            <input type="text"
                   class="w-max-20rem input"
                   name="city"
                   value="Rome">
          </div>
        </div>

        <div class="field">
          <label class="label">Units:</label>

          <div class="control">
            <label for="units_metric">
              <input type="radio"
                     id="units_metric"
                     class="radio"
                     name="units"
                     value="metric"
                     checked>
              Celsius
            </label>
            <label for="units_imperial">
              <input type="radio"
                     id="units_imperial"
                     class="radio ml-2"
                     name="units"
                     value="imperial">
              Fahrenheit
            </label>
          </div>
        </div>

        <div class="control mt-4 is-centered">
          <button type="submit"
                  class="button is-success">
            Submit
          </button>
        </div>

      </form>
      <div id="about-htmx-response" class="ml-2 pt-2">&nbsp;</div>
    </div>

    <p>The above example is made using a basic HTML form, with one notable difference:</p>

    <pre class="w-max-30rem mx-auto n-box n-box-gray-lighter">&lt;form hx-post=&quot;{% url 'get_weather' %}&quot;
hx-target=&quot;#about-htmx-response&quot;&gt;</pre>

    <p>Simply adding a couple attributes to the HTML completely changes the dynamic of the form. Now, instead of completely refreshing the page, the client can replace fragments of the page. The server will send back the proper fragment, and it will be put in the desired location. This gives a more integrated, app-like feel, instead of refreshing the whole page and breaking the user experience.</p>
    <p>In short, using HTMX allows us to extend HTML to provide a modern web experience. It can also help us to move our business logic onto the server, which can be useful for preventing sensitive data from being exposed (such as the API key used to access the weather service, or even the name of the weather service).</p>

    <div class="mt-6 is-size-4 is-centered">Conclusion</div>
    <p>HTMX and Alpine.JS can be used to add interactivity and native app-like functionality to websites with a minimum of additional code. While this project could have been made without them, it showcases their usefulness, both by themselves, and also how they can be used together.</p>

    <div class="mt-4 is-centered">
      <a href="{% url 'tasks:task_list' %}">
        <button class="button is-info">
          Take me to the demo!
        </button>
      </a>
    </div>

  </div>

</div>

{% endblock content %}
