{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} - HTMX & Alpine.JS</title>

    {% block meta_description %}
      <meta name="description"{% if meta_description_content %}
            description="{{ meta_description_content }}"{% else %}
            description="A demo that demonstrates how HTMX and Alpine.JS can work together"{% endif %}>
    {% endblock meta_description %}

    {% block meta_robots %}
      <meta name="robots"{% if norobots %}
            content="noindex, nofollow"{% else %}
            content="index, follow"{% endif %}>
    {% endblock meta_robots %}

    {# css #}
    <link rel="stylesheet"
          type="text/css"{% if DEBUG %}
          href="{% static '/css/bulma@0.9.2.min.css' %}"{% else %}
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"{% endif %}>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/base.css' %}">

    <style>
      {% block style %}{% endblock style %}
    </style>

    {% block head_script %}{% endblock head_script %}

    {# javascript - head #}
    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>
    <script type="text/javascript"{% if DEBUG %}
      {# src="{% static 'js/alpine@3.0.6.min.js' %}"{% else %} #}
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.0.8/dist/cdn.min.js"{% else %}
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.0.8/dist/cdn.min.js"{% endif %} defer></script>

    {# javascript - globals #}
    <script>
      var userIsAuthenticated = {{ user.is_authenticated|yesno:'true,false' }};
    </script>

    {{ USER_ANALYTICS_SCRIPT|safe }}

  </head>

  <body>
    {% block body_start_script %}{% endblock body_start_script %}

    <div id="page-container"
         aria-label="page container">
      {% include 'navbar.html' %}
      {% include 'status_message.html' %}

      <noscript>
        <div class="my-4 is-size-5 has-text-danger has-text-centered">
          This page requires Javascript to function correctly.
        </div>
      </noscript>

      <main id="main-container"
           class="w-100 container is-flex-grow-1 has-background-light-grey">
        <section class="mt-4 has-text-centered"
                 aria-label="title">
          <h1 class="title">
            {% block body_title %}{% endblock body_title %}
          </h1>
          <h2 class="subtitle">
            {% block body_subtitle %}{% endblock body_subtitle %}
          </h2>
        </section>

        <div class="pt-4 section"
             aria-label="content">
          {% block content %}{% endblock content %}
        </div>

      </main>

      {% include 'footer.html' %}

    </div>

    {% block body_end_script %}{% endblock body_end_script %}

    {# javascript - body #}
    <script type="text/javascript"{% if DEBUG %}
      src="{% static 'js/htmx@1.4.1.min.js' %}"{% else %}
      src="https://cdn.jsdelivr.net/npm/htmx.org@1.4.1/dist/htmx.min.js"{% endif %}></script>

    <script>
      // add CSRFToken to HTMX headers
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>

	</body>
</html>
