{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %} - Django + HTMX</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>

    <style>{% block style %}{% endblock style %}</style>

    {% block head_script %}{% endblock head_script %}
  </head>

  <body class="body-title-container">

    {% block body_start_script %}{% endblock body_start_script %}

    <div class="text-center">
      <h1>{% block body_title %}{% endblock body_title %}</h1>
      <h3>{% block body_subheading %}{% endblock body_subheading %}</h3>
    </div>

    <div class="content-container">
      {% block content %}{% endblock content %}
    </div>

    {% block body_end_script %}{% endblock body_end_script %}

	</body>
</html>
