<div id="logout-modal"
     class="modal is-active"
     x-show.transition.opacity.duration.500ms="logoutModalIsActive"
     x-cloak>
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="p-0 section">
      <div @click.away="logoutModalIsActive = false"
           class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                  is-justify-content-center is-align-items-center
                  has-text-centered">

        <div class="my-3 is-size-4">Account Logout</div>

        <div class="is-size-6 has-text-centered">
          Are you sure you want to log out?
        </div>

        <div class="mt-4 is-flex is-justify-content-space-between">
          <a class="button is-block is-info is-medium is-fullwidth"
             href="{% url 'users:logout' %}">
            Logout
          </a>
          <a class="ml-4 button is-block is-light is-medium is-fullwidth"
             @click="logoutModalIsActive = false">
            Cancel
          </a>
        </div>

      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
