<div id="login-modal"
     class="modal is-active"
     x-ref="loginModal"
     x-show.transition.opacity.duration.500ms="loginModalIsActive"
     x-cloak>
  <div class="modal-background"></div>
  <div class="modal-content w-max-content">
    <div class="p-0 section">
      <div @click.away="loginModalIsActive = false"
           id="navbar-modal-box-login"
           class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                  is-justify-content-center is-align-items-center
                  has-text-centered">
        <div class="my-5 is-size-4">Account Login</div>
        <form class="mt-3"
              hx-post="{% url 'users:login' %}"
              hx-target="#login-form-response"
              @submit="loginSubmitButtonIsLoading = true">
          <div class="field">
            <div class="control">
              <input type="text"
                     id="login-input-username"
                     name="username"
                     class="input"
                     autocorrect="off"
                     autocapitalize="none"
                     placeholder="Username"
                     required>
            </div>
            <div class="mt-4 control">
              <input type="password"
                     id="login-input-password"
                     name="password"
                     class="input"
                     placeholder="Password"
                     required>
            </div>
            <div class="mt-4 control">
              <div class="is-flex">
                <div id="login-captcha-container"
                     class="is-flex-grow-1">
                  <div id="login-captcha-img-container">
                    <input type="hidden"
                           name="captcha_0"
                           id="captcha-key"
                           value="">
                  </div>
                </div>
                <input type="text"
                       name="captcha_1"
                       id="login-input-captcha"
                       class="ml-2 input"
                       placeholder="Human test"
                       required>
              </div>
            </div>
          </div>
          <button type="submit"
                  id="login-button-submit"
                  class="mt-4 button is-block is-info is-medium is-fullwidth"
                  :class="{ 'is-loading': loginSubmitButtonIsLoading }">
            Login
          </button>

        </form>
        <div class="pt-4 pb-3 is-size-5 has-text-weight-bold">
          &nbsp;<span id="login-form-response"></span>
        </div>
        <div class="pb-2">
          <a href="registerUrl" class="is-size-5">
            Register a new account
          </a>
        </div>

        <div @click="loginSubmitButtonIsLoading = false">
          deleteme
        </div>

      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
