<div class="navbar-end has-text-centered"
     @click.outside="navbarIsActive = false">
  <a data-cy="navbar-item-about"
     class="navbar-item"
     href="{% url 'about' %}">
    About
  </a>
  <a class="navbar-item"
     href="{% url 'tasks:task_list' %}">
    Todo List
  </a>
  {% if not user.is_authenticated %}
    <a data-cy="navbar-item-login"
       class="navbar-item"
       tabindex="0"
       @click="loginModalEnable"
       @keydown.enter="loginModalEnable">
      Login
    </a>
    <a data-cy="navbar-item-register"
       class="navbar-item"
       tabindex="0"
       @click="registerModalEnable"
       @keydown.enter="registerModalEnable">
      Register
    </a>
  {% elif user.is_authenticated %}
    <a data-cy="navbar-item-logout"
       class="navbar-item"
       tabindex="0"
       @click="logoutModalEnable"
       @keydown.enter="logoutModalEnable">
      Logout
    </a>
  {% endif %}
</div>
