<div class="navbar-end has-text-centered">
  {% if not user.is_authenticated %}
    <a class="navbar-item"
       hx-trigger="click"
       hx-get="{% url 'users:login' %}"
       hx-target="#login-captcha-img-container"
       @click="loginModalIsActive = true; navbarIsActive = false;">
      Sign In
    </a>
    <a class="navbar-item"
       @click="registerModalIsActive = true; navbarIsActive = false">
      Register
    </a>
  {% elif user.is_authenticated %}
    <a class="navbar-item"
       href="#">
      Your Account
    </a>
    <a class="navbar-item" href="{% url 'users:logout' %}">
      Logout
    </a>
    <!--a class="navbar-item"
       @click="logoutModalIsActive = true; navbarIsActive = false">
      Logout
    </a-->
  {% endif %}
</div>
