<div class="navbar-end has-text-centered"
     @click.away="navbarIsActive = false">
  {% if not user.is_authenticated %}
    <a class="navbar-item"
       @click="loginModalEnable">
      Sign In
    </a>
    <a class="navbar-item"
       @click="registerModalEnable">
      Register
    </a>
  {% elif user.is_authenticated %}
    <a class="navbar-item"
       @click="logoutModalEnable">
      Logout
    </a>
  {% endif %}
    <a class="navbar-item"
       @click="aboutModalEnable">
      About
    </a>
</div>
