{% load static %}

<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
<script>
  let loginUrl = '{% url 'users:login' %}';
  let registerUrl = '{% url 'users:register' %}';
</script>

<nav id="navbar-main"
     class="navbar outline-none has-background-grey-lighter"
     tabindex="-1"
     role="navigation"
     aria-label="main navigation menu"
     x-data="navbarMainContainerData(loginUrl, registerUrl)"
     x-ref="navbarMainContainer"
     @keydown.escape="navbarClearAll"
     @login-modal-enable.window="loginModalEnable"
     @login-submit-button-enable.window="loginSubmitButtonIsLoading = false"
     @register-submit-button-enable.window="
       registerSubmitButtonIsLoading = false">

  <div class="navbar-brand">
    <a class="navbar-item brand-text is-size-4 has-text-dark" href="/">
      HTMX + Alpine.JS
    </a>
    <button class="px-5 button-unstyled navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarMain"
            @click="navbarIsActive = !navbarIsActive"
            data-cy="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <!-- mobile navbar -->
  <div class="navbar-menu navbar-menu-main is-active is-hidden-desktop"
       aria-label="navigation menu items"
       x-show="navbarIsActive"
       x-transition.opacity.duration.500ms
       x-cloak>
    {% include 'navbar_items.html' %}
  </div>

  <!-- desktop navbar -->
  <div class="navbar-menu navbar-end navbar-menu-main
              is-active is-hidden-touch">
    {% include 'navbar_items.html' %}
  </div>

  {% if not user.is_authenticated %}
    
    <template x-if="loginModalIsActive">
      <div x-init="loginModalInit"
           @keydown.escape.window="loginModalDisable"
           @keydown.tab.window="loginModalHandleTabEvent"></div>
    </template>

    <div id="login-modal"
         class="modal is-active"
         x-show="loginModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="p-0 section">
          <div @click.away="loginModalDisable"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">
            <div class="w-max-content mx-auto">
              <div class="my-3 is-size-4">Account Login</div>
              <form id="login-form"
                    class="mt-3"
                    @submit.prevent="loginFormSubmit">
                <div class="field">
                  <div class="control">
                    <input type="text"
                           name="username"
                           id="login-modal-first-tabbable"
                           class="input login-modal-tabbable"
                           autocorrect="off"
                           autocapitalize="none"
                           placeholder="Username"
                           data-cy="login-input-username"
                           required>
                  </div>
                </div>
                <div class="field">
                  <div class="mt-4 control">
                    <input type="password"
                           name="password"
                           class="input login-modal-tabbable"
                           placeholder="Password"
                           data-cy="login-input-password"
                           required>
                  </div>
                </div>
                <div class="field">
                  <div class="my-4 control">
                    <div id="login-captcha-img-container"
                         class="mb-2 is-flex is-justify-content-center">
                      <input type="hidden"
                             name="captcha_0"
                             value="">
                    </div>
                    <input type="text"
                           name="captcha_1"
                           class="input login-modal-tabbable"
                           placeholder="Human test"
                           data-cy="login-input-captcha"
                           required />
                  </div>
                </div>
                <div class="control">
                  <button type="submit"
                          id="login-button-submit"
                          class="mt-4 button is-block is-info
                                 is-medium is-fullwidth login-modal-tabbable"
                          :class="{ 'is-loading': loginSubmitButtonIsLoading }"
                          data-cy="login-button-confirm">
                    Login
                  </button>
                </div>

              </form>
              <div class="pt-4 pb-3 is-size-6
                          has-text-weight-bold">
                &nbsp;<span id="login-form-response"></span>
              </div>
              <div>
                <button class="is-size-5 button-unstyled has-text-link
                               login-modal-tabbable"
                        @click="registerModalEnable">
                  Register new account
                </button>
              </div>
              <button id="login-modal-last-tabbable"
                      class="delete box-close login-modal-tabbable"
                      aria-label="close"
                      @click="loginModalDisable"></button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <template x-if="registerModalIsActive">
      <div x-init="registerModalInit"
           @keydown.escape.window="registerModalDisable"
           @keydown.tab.window="registerModalHandleTabEvent"></div>
    </template>

    <div id="register-modal"
         class="modal is-active"
         x-show="registerModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="p-0 section">
          <div @click.away="registerModalDisable"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">
            <div class="my-3 is-size-4">Register New Account</div>
            <form id="register-form"
                  class="mt-3"
                  @submit.prevent="registerModalFormSubmit">
              <div class="field">
                <div class="control">
                  <input type="text"
                         name="username"
                         id="register-modal-first-tabbable"
                         class="input register-modal-tabbable"
                         autocorrect="off"
                         autocapitalize="none"
                         placeholder="Username"
                         data-cy="register-input-username"
                         required>
                  <input type="hidden"
                         name="name"
                         required>
                </div>
                <div class="mt-4 control">
                  <input type="password"
                         name="password1"
                         class="input register-modal-tabbable"
                         placeholder="Password"
                         x-ref="registerFormFieldPassword1"
                         data-cy="register-input-password1"
                         required>
                </div>
                <div class="mt-4 control">
                  <input type="password"
                         name="password2"
                         class="input register-modal-tabbable"
                         placeholder="Confirm password"
                         x-ref="registerFormFieldPassword2"
                         data-cy="register-input-password2"
                         required>
                </div>
                <div class="field">
                  <div class="mt-4 control">
                    <input type="password"
                           name="password"
                           class="input register-modal-tabbable"
                           placeholder="Password"
                           data-cy="register-input-password"
                           required>
                  </div>
                </div>
                <div class="field">
                  <div class="my-4 control">
                    <div id="register-captcha-img-container"
                         class="mb-2 is-flex is-justify-content-center">
                      <input type="hidden"
                             name="captcha_0"
                             value="">
                    </div>
                    <input type="text"
                           name="captcha_1"
                           class="input register-modal-tabbable"
                           placeholder="Human test"
                           data-cy="register-input-captcha"
                           required />
                  </div>
                </div>
              </div>
              <input type="submit"
                     id="register-button-submit"
                     class="mt-4 button is-block is-info
                            is-medium is-fullwidth register-modal-tabbable"
                     :class="{ 'is-loading': registerSubmitButtonIsLoading }"
                     data-cy="register-button-confirm"
                     value="Register">

            </form>
            <div class="w-max-25rem pt-4 pb-3 is-size-6
                        has-text-weight-bold">
              &nbsp;<span id="register-form-response"></span>
            </div>
            <div>
              <button class="is-size-5 button-unstyled has-text-link
                             register-modal-tabbable"
                      @click="loginModalEnable">
                Login to an existing account
              </button>
            </div>

            <button id="register-modal-last-tabbable"
                    class="delete box-close register-modal-tabbable"
                    aria-label="close"
                    @click="registerModalDisable"></button>

          </div>
        </div>
      </div>
    </div>

  {% elif user.is_authenticated %}
    <template x-if="logoutModalIsActive">
      <div @keydown.escape.window="logoutModalDisable"
           @keydown.tab.window="logoutModalHandleTabEvent"></div>
    </template>

    <div id="logout-modal"
         class="modal is-active"
         x-show="logoutModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="w-max-25rem w-max-content modal-content">
        <div class="p-0 section">
          <div @click.away="logoutModalIsActive = false"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">

            <div class="my-3 is-size-4">Account Logout</div>

            <div class="is-size-6 has-text-centered">
              Are you sure you want to log out?
            </div>

            <div class="mt-4 is-flex is-justify-content-space-between">
              <a id="logout-modal-first-tabbable"
                 class="button is-block is-info is-medium is-fullwidth"
                 href="{% url 'users:logout' %}"
                 x-init="$nextTick(() => { $el.focus(); })"
                 data-cy="logout-button-confirm">
                Logout
              </a>
              <button id="logout-modal-last-tabbable"
                      class="ml-4 button is-block is-light is-medium
                             is-fullwidth"
                      @click="logoutModalDisable">
                Cancel
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
 
</nav>

<style>

.captcha-img {
  height: 2.5em;
  width: 6em;
}

</style>
