<div class="outline-none"
     tabindex="-1"
     x-data="navbarMainContainerData()"
     x-ref="navbarMainContainer"
     @keyup.escape="navbarClearAll()"
     @login-submit-button-enable.window="loginSubmitButtonIsLoading = false"
     @register-submit-button-enable.window="
       registerSubmitButtonIsLoading = false">

  <nav id="navbar-main"
       class="navbar has-background-grey-lighter"
       role="navigation"
       aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item brand-text is-size-4 has-text-dark" href="/">
        HTMX + Alpine.JS
      </a>
      <a class="w-100"
         @click="navbarIsActive = !navbarIsActive">
        &nbsp;
      </a>
      <a role="button"
         class="px-5 navbar-burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarMain"
         @click="navbarIsActive = !navbarIsActive"
         data-cy="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- mobile navbar -->
    <div class="navbar-menu navbar-menu-main is-active is-hidden-desktop"
         x-show.transition.opacity.duration.500ms="navbarIsActive"
         x-cloak>
      {% include 'navbar_items.html' %}
    </div>

    <!-- desktop navbar -->
    <div class="navbar-menu navbar-end navbar-menu-main
                is-active is-hidden-touch">
      {% include 'navbar_items.html' %}
    </div>

  </nav>

  {% if not user.is_authenticated %}
    
    <template x-if="loginModalIsActive">
      <div id="login-modal"
           class="modal is-active"
           x-show.transition.opacity.duration.500ms="loginModalIsActive"
           x-cloak>
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="p-0 section">
            <div @click.away="loginModalIsActive = false"
                 class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                        is-justify-content-center is-align-items-center
                        has-text-centered">
              <div class="my-3 is-size-4">Account Login</div>
              <form id="login-form"
                    class="mt-3"
                    @submit.prevent="loginFormSubmit">
                <div class="field">
                  <div class="control">
                    <input type="text"
                           name="username"
                           class="input"
                           autocorrect="off"
                           autocapitalize="none"
                           placeholder="Username"
                           required
                           data-cy="login-input-username">
                  </div>
                  <div class="mt-4 control">
                    <input type="password"
                           name="password"
                           class="input"
                           placeholder="Password"
                           required
                           data-cy="login-input-password">
                  </div>
                  <div class="mt-4 control">
                    <div class="is-flex">
                      <div id="login-captcha-container"
                           class="is-flex-grow-1">
                        <div id="login-captcha-img-container">
                          <input type="hidden"
                                 name="captcha_0"
                                 value="">
                        </div>
                      </div>
                      <input type="text"
                             name="captcha_1"
                             id="login-input-captcha"
                             class="ml-2 input"
                             placeholder="Human test"
                             required
                             data-cy="login-input-captcha">
                    </div>
                  </div>
                </div>
                <input type="submit"
                       id="login-button-submit"
                       class="mt-4 button is-block is-info
                              is-medium is-fullwidth"
                       :class="{ 'is-loading': loginSubmitButtonIsLoading }"
                       data-cy="login-button-confirm"
                       value="Login">

              </form>
              <div class="w-max-25rem pt-4 pb-3 is-size-6
                          has-text-weight-bold">
                &nbsp;<span id="login-form-response"></span>
              </div>
              <div>
                <a class="is-size-5 is-clickable"
                   @click="registerModalEnable">
                  Register a new account
                </a>
              </div>

            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

        <script>
          // get captcha when loaded
          htmx.ajax('GET', '{% url 'users:login' %}', {
            target: '#login-captcha-img-container'
          });
        </script>

      </div>
    </template>

    <template x-if="registerModalIsActive">
      <div id="register-modal"
           class="modal is-active"
           x-show.transition.opacity.duration.500ms="registerModalIsActive"
           x-cloak>
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="p-0 section">
            <div @click.away="registerModalIsActive = false"
                 class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                        is-justify-content-center is-align-items-center
                        has-text-centered">
              <div class="my-3 is-size-4">Register New Account</div>
              <form id="register-form"
                    class="mt-3"
                    @submit.prevent="registerFormSubmit">
                <div class="field">
                  <div class="control">
                    <input type="text"
                           name="username"
                           class="input"
                           autocorrect="off"
                           autocapitalize="none"
                           placeholder="Username"
                           required
                           data-cy="register-input-username">
                    <input type="hidden"
                           name="name"
                           required>
                  </div>
                  <div class="mt-4 control">
                    <input type="password"
                           name="password1"
                           class="input"
                           placeholder="Password"
                           required
                           x-ref="registerFormFieldPassword1"
                           data-cy="register-input-password1">
                  </div>
                  <div class="mt-4 control">
                    <input type="password"
                           name="password2"
                           class="input"
                           placeholder="Confirm password"
                           required
                           x-ref="registerFormFieldPassword2"
                           data-cy="register-input-password2">
                  </div>
                  <div class="mt-4 control">
                    <div class="is-flex">
                      <div id="register-captcha-container"
                           class="is-flex-grow-1">
                        <div id="register-captcha-img-container">
                          <input type="hidden"
                                 name="captcha_0"
                                 id="register-captcha-key"
                                 value="">
                        </div>
                      </div>
                      <input type="text"
                             name="captcha_1"
                             id="register-input-captcha"
                             class="ml-2 input"
                             placeholder="Human test"
                             data-cy="register-input-captcha"
                             required>
                    </div>
                  </div>
                </div>
                <input type="submit"
                       id="register-button-submit"
                       class="mt-4 button is-block is-info
                              is-medium is-fullwidth"
                       :class="{ 'is-loading': registerSubmitButtonIsLoading }"
                       data-cy="register-button-confirm"
                       value="Register">

              </form>
              <div class="w-max-25rem pt-4 pb-3 is-size-6
                          has-text-weight-bold">
                &nbsp;<span id="register-form-response"></span>
              </div>
              <div>
                <a class="is-size-5 is-clickable"
                   @click="loginModalEnable">
                  Login to an existing account
                </a>
              </div>

            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

        <script>
          // get captcha when loaded
          htmx.ajax('GET', '{% url 'users:register' %}', {
            target: '#register-captcha-img-container'
          });
        </script>

      </div>
    </template>

  {% elif user.is_authenticated %}
    <template x-if="logoutModalIsActive">
      <div id="logout-modal"
           class="modal is-active"
           x-show.transition.opacity.duration.500ms="logoutModalIsActive"
           @keyup.enter.window="
             document.querySelector('#logout-button').click()"
           x-cloak>
        <div class="modal-background"></div>
        <div class="w-max-25rem w-max-content modal-content">
          <div class="p-0 section">
            <div @click.away="logoutModalIsActive = false"
                 class="px-5 pt-2 pb-5 box is-flex is-flex-direction-column
                        is-justify-content-center is-align-items-center
                        has-text-centered">

              <div class="my-3 is-size-4">Account Logout</div>

              <div class="is-size-6 has-text-centered">
                Are you sure you want to log out?
              </div>

              <div class="mt-4 is-flex is-justify-content-space-between">
                <a id="logout-button"
                   class="button is-block is-info is-medium is-fullwidth"
                   href="{% url 'users:logout' %}"
                   data-cy="logout-button-confirm">
                  Logout
                </a>
                <a class="ml-4 button is-block is-light is-medium is-fullwidth"
                   @click="logoutModalIsActive = false">
                  Cancel
                </a>
              </div>

            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
    </template>
  {% endif %}
 
</div>

<script>
  function navbarMainContainerData() {
    return {
      // data
      navbarIsActive: false,
      loginModalIsActive: false,
      loginSubmitButtonIsLoading: false,
      logoutModalIsActive: false,
      registerModalIsActive: false,
      registerSubmitButtonIsLoading: false,
      // methods
      loginFormSubmit() {
        this.loginSubmitButtonIsLoading = true;
        htmx.ajax('POST', '{% url 'users:login' %}', {
          source: '#login-form',
          target: '#login-form-response'
        });
      },
      loginModalEnable() {
        this.navbarClearAll();
        this.loginModalIsActive = true;
      },
      logoutModalEnable() {
        this.navbarClearAll();
        this.logoutModalIsActive = true;
      },
      navbarClearAll() {
        this.navbarIsActive = false;
        this.loginModalIsActive = false;
        this.loginSubmitButtonIsLoading = false;
        this.registerModalIsActive = false;
        this.registerSubmitButtonIsLoading = false;
        this.logoutModalIsActive = false;
      },
      registerFormSubmit() {
        // do not continue if passwords do not match
        let password1 = this.$refs.registerFormFieldPassword1.value;
        let password2 = this.$refs.registerFormFieldPassword2.value;
        if (password1 !== password2) {
          hDispatch('status-message-display', {
            message: "The passwords do not match.",
            messageType: 'danger'
          });
          return false;
        }
        this.registerSubmitButtonIsLoading = true;
        htmx.ajax('POST', '{% url 'users:register' %}', {
          source: '#register-form',
          target: '#register-form-response'
        });
      },
      registerModalEnable() {
        this.navbarClearAll();
        this.registerModalIsActive = true;
      },
    }
  }
</script>

<style>
.captcha-img {
  height: 2.5em;
  width: 7em;
}
</style>
