<nav x-data="{ navbarIsActive: false }"
     id="navbar-main"
     class="navbar has-background-grey-lighter"
     role="navigation"
     aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item brand-text is-size-4" href="/">
      Todo List
    </a>

    <div class="navbar-burger-container">
      <a role="button"
         class="navbar-burger"
         aria-label="menu" aria-expanded="false"
         data-target="navbarMain"
         @click="navbarIsActive = !navbarIsActive">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div id="navbarMain"
       class="navbar-menu"
       x-bind:class="{ 'is-active': navbarIsActive }">

    <div class="navbar-end has-text-centered">
      <a class="navbar-item">Sign In</a>
      <a class="navbar-item">Register</a>
    </div>

  </div>
</nav>
