{% load static %}
<script src="{% static 'js/status_message.js' %}"></script>

<div class="status-message-container">
  <button id="status-message"
          class="status-message"
          @click="statusMessageClear"
          @status-message-display.window="statusMessageDisplay($event.detail)"
          x-data="statusMessageNotification()"
          x-show="show"
          x-transition.opacity.duration.500ms
          x-text="statusMessageText"
          x-cloak
          data-cy="status-message">
  </button>
</div>

{% include 'messages.html' %}
<!--script>
  // display messages from server as status messages
  {% if messages %}
    {% for message in messages %}
      setTimeout(() => {
        hDispatch('status-message-display', {
          message: "{{ message }}",
          messageType: '{{ message.level }}'
        })
      }, {{ forloop.counter0 }} * defaultMessageTimeout);
    {% endfor %}
  {% endif %}

</script-->

<style>

.status-message {
  background-color: #3298DC;
  position: fixed;
  max-width: 30rem;
  top: 0.1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  font-size: 1.2rem;
  color: white;
  text-align: center;

  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  z-index: 100;
}

</style>
