{% load static %}
<script type="text/javascript"
        src="{% static 'js/navbar-main.js' %}"></script>

<nav class="navbar outline-none has-background-grey-lighter"
     tabindex="-1"
     role="navigation"
     aria-label="main navigation menu"
     x-data="navbarMainComponent()"
     @keydown.escape="navbarClearAll"
     @login-modal-enable.window="loginModalEnable"
     @login-modal-submit-button-enable.window="
       loginModalSubmitButtonIsLoading = false"
     @register-modal-submit-button-enable.window="
       registerModalSubmitButtonIsLoading = false">

  <div class="navbar-brand">
    <a class="navbar-item brand-text is-size-4 has-text-dark" href="/">
      HTMX + Alpine.JS
    </a>
    <button data-cy="navbar-burger"
            class="px-5 button-unstyled navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarMain"
            @click="navbarIsActive = !navbarIsActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <!-- mobile navbar -->
  <div class="navbar-menu navbar-menu-main is-active is-hidden-desktop"
       aria-label="navigation menu items"
       x-show="navbarIsActive"
       x-transition.opacity.duration.500ms
       x-cloak>
    {% include 'navbar_items.html' %}
  </div>

  <!-- desktop navbar -->
  <div class="navbar-menu navbar-end navbar-menu-main
              is-active is-hidden-touch">
    {% include 'navbar_items.html' %}
  </div>

  {% if not user.is_authenticated %}
    
    <template x-if="registerModalIsActive">
      <div @keydown.escape.window="registerModalDisable"
           @keydown.tab.window="registerModalHandleTabEvent"></div>
    </template>

    <div id="register-modal"
         class="modal is-active"
         x-show="registerModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="w-max-25rem modal-content">
        <div class="p-0 section">
          <div @click.away="registerModalDisable"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">
            <div class="my-3 is-size-4">Register New Account</div>
            <form id="register-form"
                  class="w-min-20rem mt-3"
                  method="post"
                  hx-post="{% url 'users:register' %}"
                  hx-target="#register-form-response"
                  hx-trigger="register-form-submit from:body"
                  @submit.prevent="registerModalFormSubmit">
              <div class="field">
                <div class="control">
                  <input type="text"
                         name="username"
                         data-cy="register-input-username"
                         x-ref="registerModalFirstTabbable"
                         class="input register-modal-tabbable"
                         autocorrect="off"
                         autocapitalize="none"
                         placeholder="Username"
                         required>
                  <input type="hidden"
                         name="name"
                         required>
                </div>
              </div>
              <div class="field">
                <div class="mt-4 control">
                  <input type="password"
                         name="password1"
                         data-cy="register-input-password1"
                         x-ref="registerFormFieldPassword1"
                         class="input register-modal-tabbable"
                         placeholder="Password"
                         required>
                </div>
              </div>
              <div class="field">
                <div class="mt-4 control">
                  <input type="password"
                         name="password2"
                         data-cy="register-input-password2"
                         x-ref="registerFormFieldPassword2"
                         class="input register-modal-tabbable"
                         placeholder="Confirm password"
                         required>
                </div>
              </div>
              <div class="field">
                <div class="my-4 control"
                       hx-get="{% url 'users:register' %}"
                       hx-target="#register-captcha-img-container"
                       hx-trigger="register-captcha-get once from:body">
                  <div id="register-captcha-img-container"
                       class="mb-2 is-flex is-justify-content-center">
                    <input type="hidden"
                           name="captcha_0"
                           value="">
                  </div>
                  <input type="text"
                         name="captcha_1"
                         data-cy="register-input-captcha"
                         class="input register-modal-tabbable"
                         placeholder="Human test"
                         required>
                </div>
              </div>
              <button type="submit"
                      data-cy="register-button-confirm"
                      class="mt-4 button is-block is-info
                             is-medium is-fullwidth register-modal-tabbable"
                      :class="
                        { 'is-loading': registerModalSubmitButtonIsLoading }">
                Register
              </button>

            </form>
            <div class="pt-4 pb-3 is-size-6 has-text-weight-bold">
              &nbsp;<span id="register-form-response"
                          data-cy="register-form-response"
                          class="w-max-20rem is-inline-block"></span>
            </div>
            <div>
              <button class="is-size-5 button-unstyled has-text-link
                             register-modal-tabbable"
                      @click="loginModalEnable">
                Login to an existing account
              </button>
            </div>

            <button x-ref="registerModalLastTabbable"
                    class="delete box-close register-modal-tabbable"
                    aria-label="close"
                    @click="registerModalDisable"></button>

          </div>
        </div>
      </div>
    </div>

    <template x-if="loginModalIsActive">
      <div @keydown.escape.window="loginModalDisable"
           @keydown.tab.window="loginModalHandleTabEvent"></div>
    </template>

    <div data-name="login-modal"
         class="modal is-active"
         x-show="loginModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="w-max-25rem modal-content">
        <div class="p-0 section">
          <div @click.away="loginModalDisable"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">
            <div class="mx-auto">
              <div class="my-3 is-size-4">Account Login</div>
              <form id="login-form"
                    class="w-min-20rem mt-3"
                    method="post"
                    hx-post="{% url 'users:login' %}"
                    hx-target="#login-form-response"
                    hx-trigger="login-form-submit from:body"
                    @submit.prevent="loginModalFormSubmit">
                <div class="field">
                  <div class="control">
                    <input type="text"
                           name="username"
                           data-cy="login-input-username"
                           x-ref="loginModalFirstTabbable"
                           class="input login-modal-tabbable"
                           autocorrect="off"
                           autocapitalize="none"
                           placeholder="Username"
                           required>
                  </div>
                </div>
                <div class="field">
                  <div class="mt-4 control">
                    <input type="password"
                           name="password"
                           data-cy="login-input-password"
                           class="input login-modal-tabbable"
                           placeholder="Password"
                           required>
                  </div>
                </div>
                <div class="field">
                  <div class="my-4 control"
                       hx-get="{% url 'users:login' %}"
                       hx-target="#login-captcha-img-container"
                       hx-trigger="login-captcha-get once from:body">
                    <div id="login-captcha-img-container"
                         class="mb-2 is-flex is-justify-content-center">
                      <input type="hidden"
                             name="captcha_0"
                             value="">
                    </div>
                    <input type="text"
                           name="captcha_1"
                           data-cy="login-input-captcha"
                           class="input login-modal-tabbable"
                           placeholder="Human test"
                           required />
                  </div>
                </div>
                <div class="control">
                  <button type="submit"
                          data-cy="login-button-confirm"
                          class="mt-4 button is-block is-info
                                 is-medium is-fullwidth login-modal-tabbable"
                          :class="{
                            'is-loading': loginModalSubmitButtonIsLoading }">
                    Login
                  </button>
                </div>

              </form>
              <div class="pt-4 pb-3 is-size-6 has-text-weight-bold">
                &nbsp;<span id="login-form-response"
                            data-cy="login-form-response"
                            class="w-max-20rem is-inline-block"></span>
              </div>
              <div>
                <button class="is-size-5 button-unstyled has-text-link
                               login-modal-tabbable"
                        @click="registerModalEnable">
                  Register new account
                </button>
              </div>
              <button x-ref="loginModalLastTabbable"
                      class="delete box-close login-modal-tabbable"
                      aria-label="close"
                      @click="loginModalDisable"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% elif user.is_authenticated %}
    <template x-if="logoutModalIsActive">
      <div @keydown.escape.window="logoutModalDisable"
           @keydown.tab.window="logoutModalHandleTabEvent"
           x-init="
             $nextTick(() => { $refs.logoutModalFirstTabbable.focus(); })">
      </div>
    </template>

    <div data-name="logout-modal"
         class="modal is-active"
         x-show="logoutModalIsActive"
         x-transition.opacity.duration.500ms
         x-cloak>
      <div class="modal-background"></div>
      <div class="w-max-25rem modal-content">
        <div class="p-0 section">
          <div @click.away="logoutModalIsActive = false"
               class="pt-2 px-5 pb-5 box is-flex is-flex-direction-column
                      is-justify-content-center is-align-items-center
                      has-text-centered">

            <div class="my-3 is-size-4">Account Logout</div>

            <div class="is-size-6 has-text-centered">
              Are you sure you want to log out?
            </div>

            <div class="mt-4 is-flex is-justify-content-space-between">
              <button x-ref="logoutModalFirstTabbable"
                      class="button is-light is-medium"
                      @click="logoutModalDisable">
                Cancel
              </button>
              <a href="{% url 'users:logout' %}"
                 data-cy="logout-button-confirm"
                 x-ref="logoutModalLastTabbable"
                 class="ml-4 button is-info is-medium"
                 autofocus>
                Logout
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
 
</nav>

<style>
  .captcha-img {
    height: 2.5em;
    width: 6em;
  }
</style>
